/* Styles for goldstars/index.html */

img { border: 0; vertical-align: top; }
a.award { text-decoration: none; }
span.date { font-style: italic; font-size: smaller; }
span.times { font-size: smaller; }

