<!-- time error message -->
<div style="display: _GENERATE-TIME-ERRORMESSAGE">
 <h2 style='color: red;'>MAX-TIMEOUT WAS REACHED</h2>
 <p style='margin-top:-15px'>As a result of max-time reach the <strong>stats</strong> below may be inaccurate.</p><hr>
</div>

<!-- size error message -->
<div style="display: _GENERATE-SIZE-ERRORMESSAGE">
 <h2 style='color: red;'>MAX-SIZE WAS REACHED</h2>
 <p style='margin-top:-15px'>As a result of max-size reach the <strong>stats</strong> below may be inaccurate.</p><hr>
</div>

<p>The files tested are the number of files that were used for test. These files at the very least will be doubled relative to files built.</p>
<!-- total files -->
<p><strong>Total Files Tested</strong>  - _numberOfFilesTested</p>
<!-- percent with differneces -->
<p><strong>Tested Files with Differences</strong> - _percentOfFilesWithDifferences</p>
<!-- test with differeneces -->
<p><h3 style="display:inline">File Difference Percentage</h3> - _percentOfFilesWithError</p>

<hr>

<p>The files built account for files tested (x1) for source and pull (x2) for options (xUsed).</p>
<p>
<small>
 <!-- options run -->
 optionCount = _numberOfOptionsRan ; 
 <!-- files tested -->
 filesTested= _numberOfFilesTested;  repos = 2; <br>
 built = (optonCount x filesTested) * 2 (<em>source and pull repo)</em>
</small>
</p>



<!-- total built -->
<p><strong>Total Files Built</strong>  - _numberOfFilesBuilt</p>
<!-- total with difference -->
<p><strong>Total Files with Differences</strong> - _builtFilesWithDifferences</p>
<!-- built difference percent -->
<p><h3 style="display:inline">Built Difference Percentage</h3> - _percentOfBuiltFilesWithError</p>
<hr>