<p>
The individual run times are the individual build times for each fie. Each
item in the array is added up so that total can be compared with sum. The
average build time is also included along with a comparison of the average
build for source and pull command.
</p>
<!-- total source file -->
<p>Source Files Built - _numberOfSourceFilesBuilt</p>
<!-- total pull file -->
<p>Pull Files Built - _numberOfPullFilesBuilt</p>

<!-- total source time -->
<p><strong>Summed Time for Source Builds</strong> - _sourceSumRuns <small>seconds</small></p> 
<!-- total pull time -->
<p><strong>Summed Time for Pull Builds</strong> - _pullSumRuns <small>seconds</small></p> 
<!-- time difference -->
<p><h3 style="display:inline">Summed Time Difference</h3> - _fastOrSlowOne</p> 

<hr>

<!-- average source -->
<p><strong>Average Source Build</strong> - _sourceAvgRuns</p> 
<!-- average pull -->
<p><strong>Average Pull Builds</strong> - _pullAvgRuns</p> 

<!-- average of all builds compared -->
<p><h3 style="display:inline">Average Difference</h3> - _fastOrSlowTwo</p> 

<hr>